<!doctype html>
<html lang = "en">
	<head>
		<title>Contact</title>
		<meta charset = "UTF-8">
		<link rel = "icon" href = "/assets/img/icon.png">
		<link rel = "stylesheet" type = "text/css" href="/assets/css/stylesheet.css"/>
		<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
		<script src="/assets/js/script.js" type="text/javascript"></script>
		<!-- Add bootstrap for cellphone compatibility -->
	</head>
	<body>
		<div id = "navbar">
			<div id = "name">Mam Frienz</div>
			<ul id = "buttonAlignment">
				<li class = "buttonList"><a class = "navbutton" href = "/home">Home</a></li>
				<li class = "buttonList"><a class = "navbutton active" href = "/">Portfolio</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/resume">Resume</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/resumeCreate">Resume Create</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/contact">Contact</a></li>
			</ul>
		</div>
		<div id = "pagebody">
			<ul id = "contactinfo">
				<li><label class = "contactlabels">Email:</label> mamwithbrothers@gmail.com</li>
				<li><label class = "contactlabels">Phone:</label> +8801627175866</li>
				<li><label class = "contactlabels">Address:</label> Bashundhara, C-block, Dhaka</li>
			</ul>
		</div>
	</body>
</html>