<!doctype html>
<html lang = "en">
	<head>
		<title>Home</title>
		<meta charset = "UTF-8">
		<link rel = "icon" href = "/assets/img/icon.png">
		<link rel = "stylesheet" type = "text/css" href="/assets/css/stylesheet.css"/>
		<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
		<script src="/assets/js/script.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div id = "navbar">
			<div id = "name">Mam Frienz</div>
			<ul id = "buttonAlignment">
				<li class = "buttonList"><a class = "navbutton" href = "/home">Home</a></li>
				<li class = "buttonList"><a class = "navbutton active" href = "/">Portfolio</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/resume">Resume</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/resumeCreate">Resume Create</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/contact">Contact</a></li>
			</ul>
		</div>
		<div id = "pagebody">
			<div id = "selfImage">z
				<img id = "pic" src = "/assets/img/MamFrienz.jpg" alt="self">
			</div>
			<p id = "homeinfo">
				I am Md Morshedul Alam Murad.<br><br>
				            Music is da Art of Melody

				
			</p>
		</div>
	</body>
</html>