<!doctype html>
<html lang = "en">
	<head>
		<title>Portfolio</title>
		<meta charset = "UTF-8">
		<link rel = "icon" href = "/assets/img/icon.png">
		<link rel = "stylesheet" type = "text/css" href="/assets/css/stylesheet.css"/>
		<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
		<script src="/assets/js/script.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div id = "navbar">
			<div id = "name">Mam Frienz</div>
			<ul id = "buttonAlignment">
				<li class = "buttonList"><a class = "navbutton" href = "/home">Home</a></li>
				<li class = "buttonList"><a class = "navbutton active" href = "/Portfolio">Portfolio</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/resume">Resume</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/resumeCreate">Resume Create</a></li>
				<li class = "buttonList"><a class = "navbutton" href = "/contact">Contact</a></li>
			</ul>
		</div>
		<div id = "pagebody">
			<p id = "homeinfo">
				I have a vision to see myself in a highly efficient administrative position of a dynamic organization where I can utilize my learning, interpersonal skill, analytical ability and adaptability for further development..<br><br>

				Looking for hard and challenging job where I will have the scope to prove my potentiality and skill to do something innovative and where I will be able to enhance my knowledge.
			</p>
		</div>
	</body>
</html>